<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 属性文件 -->
    <property name="logDir" value="/logs"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <!--<Encoding>UTF-8</Encoding>-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>

    <!-- 配置文件轮转 -->
    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<Encoding>UTF-8</Encoding>-->
        <File>${logDir}/entrusts.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logDir}/entrusts.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>
    
    <root level="DEBUG">
        <appender-ref ref="logfile"/>
        <appender-ref ref="stdout"/>
    </root>

    <logger name="org.springframework.cache" level="trace">
        <appender-ref ref="stdout" />
    </logger>
    <logger name="org.apache.ibatis" level="debug">
        <appender-ref ref="stdout" />
    </logger>
</configuration>
