<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.entrusts.mapper.DealMapper">
	<resultMap id="BaseResultMap" type="com.entrusts.module.entity.Deal">
		<id column="trade_code" jdbcType="BIGINT" property="tradeCode" />
		<result column="order_code" jdbcType="BIGINT" property="orderCode" />
		<result column="deal_price" jdbcType="DECIMAL" property="dealPrice" />
		<result column="deal_quantity" jdbcType="DECIMAL" property="dealQuantity" />
		<result column="deal_amount" jdbcType="DECIMAL" property="dealAmount" />
		<result column="service_fee" jdbcType="DECIMAL" property="serviceFee" />
		<result column="deal_time" jdbcType="BIGINT" property="dealTime" />
		<result column="trade_pair_id" jdbcType="INTEGER" property="tradePairId" />
	</resultMap>
	<insert id="insert" parameterType="com.entrusts.module.entity.Deal">
		insert ignore into deal (trade_code, order_code, deal_price, 
			deal_quantity, deal_amount, service_fee, 
			deal_time,trade_pair_id)
		values (#{tradeCode,jdbcType=BIGINT}, #{orderCode,jdbcType=BIGINT}, #{dealPrice,jdbcType=DECIMAL}, 
			#{dealQuantity,jdbcType=DECIMAL}, #{dealAmount,jdbcType=DECIMAL}, #{serviceFee,jdbcType=DECIMAL}, 
			#{dealTime,jdbcType=BIGINT},#{tradePairId,jdbcType=INTEGER})
	</insert>
	<select id="selectAll" resultMap="BaseResultMap">
		select trade_code, order_code, deal_price, deal_quantity, deal_amount, service_fee, 
		deal_time,trade_pair_id
		from deal
	</select>
	<select id="getRecentDeal" resultMap="BaseResultMap">
		SELECT
			t.trade_code AS trade_code,
			t.code AS code,
			t.order_code AS order_code,
			t.order_type AS order_type,
			t.trade_type AS trade_type,
			t.trade_fee AS trade_fee,
			t.deal_price AS deal_price,
			t.deal_quantity AS deal_quantity,
			t.base_currencyId AS base_currencyId,
			t.target_currencyId AS target_currencyId,
			t.created_time AS created_time,
			t.is_initiator AS is_initiator,
			t.trade_pair_id AS trade_pair_id
		FROM
			(
				SELECT
				trade_code,
				code,
				order_code,
				order_type,
				trade_type,
				trade_fee,
				deal_price,
				deal_quantity,
				base_currencyId,
				target_currencyId,
				created_time,
				is_initiator,
				trade_pair_id
				FROM
					deal
				WHERE
					created_time BETWEEN #{startTime} AND #{endTime}
				ORDER BY
					`created_time` DESC
			) t
		GROUP BY
			t.trade_pair_id
	</select>
</mapper>