<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.entrusts.mapper.OrderMapper">
	<resultMap id="UnfreezeEntity" type="com.entrusts.module.dto.UnfreezeEntity" autoMapping="true">
		<association property="order" resultMap="BaseResultMap" ></association>
	</resultMap>
	<resultMap id="BaseResultMap" type="com.entrusts.module.entity.Order">
		<id column="order_code" jdbcType="BIGINT" property="orderCode" />
		<result column="user_code" jdbcType="CHAR" property="userCode" />
		<result column="client_time" jdbcType="TIMESTAMP" property="clientTime" />
		<result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
		<result column="trade_pair_id" jdbcType="INTEGER" property="tradePairId" />
		<result column="convert_rate" jdbcType="DECIMAL" property="convertRate" />
		<result column="trade_type" jdbcType="TINYINT" property="tradeType" />
		<result column="quantity" jdbcType="DECIMAL" property="quantity" />
		<result column="mode" jdbcType="TINYINT"    property="mode" />
		<result column="status" jdbcType="TINYINT"  property="status" />
		<result column="service_fee" jdbcType="DECIMAL" property="serviceFee" />
		<result column="deal_amount" jdbcType="DECIMAL" property="dealAmount" />
		<result column="deal_quantity" jdbcType="DECIMAL" property="dealQuantity" />
		<result column="lasted_deal_time" jdbcType="TIMESTAMP" property="lastedDealTime" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
		<result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
	</resultMap>
	<sql id="orderColumns">
		o.order_code as orderCode,
		o.user_code as userCode,
		o.client_time as clientTime,
		o.order_time as orderTime,
		o.trade_pair_id as tradePairId,
		o.convert_rate as convertRate,
		o.trade_type as tradeType,
		o.quantity as quantity,
		o.mode as mode,
		o.status as status,
		o.service_fee as serviceFee,
		o.deal_amount as dealAmount,
		o.deal_quantity as dealQuantity,
		o.lasted_deal_time as lastedDealTime,
		o.created_time as createdTime,
		o.updated_time as updatedTime,
		o.is_deleted as isDeleted
	</sql>
	<insert id="insertOrder" parameterType="com.entrusts.module.entity.Order">
  INSERT INTO `order` (
    `order_code`,
    `user_code`,
    `client_time`,
    `order_time`,
    `trade_pair_id`,
    `convert_rate`,
    `trade_type`,
    `quantity`,
    `mode`,
    `status`,
    `created_time`,
    `updated_time`,
    `is_deleted`
    )
		values (
			#{orderCode,jdbcType=CHAR},
			#{userCode,jdbcType=VARCHAR},
			#{clientTime,jdbcType=TIMESTAMP},
			#{orderTime,jdbcType=TIMESTAMP},
			#{tradePairId,jdbcType=INTEGER},
			#{convertRate,jdbcType=DECIMAL},
			#{tradeType,jdbcType=TINYINT},
			#{quantity,jdbcType=DECIMAL},
			#{mode,jdbcType=TINYINT},
			#{status,jdbcType=TINYINT},
      #{createdTime,jdbcType=TIMESTAMP},
      #{updatedTime,jdbcType=TIMESTAMP},
      0
		)
	</insert>

  <update id="updateOrderStatus">
	    UPDATE `order`
		    SET
		    updated_time = #{updatedTime},
		    `status` = #{status}
	    WHERE
	    	order_code = #{orderCode}
  </update>

	<select id="get" resultType="com.entrusts.module.entity.Order">
		select
			o.order_code as orderCode,
			o.user_code as userCode,
			o.client_time as clientTime,
			o.order_time as orderTime,
			o.trade_pair_id as tradePairId,
			o.convert_rate as convertRate,
			o.trade_type as tradeType,
			o.quantity as quantity,
			o.mode as mode,
			o.status as status,
			o.service_fee as serviceFee,
			o.deal_amount as dealAmount,
			o.deal_quantity as dealQuantity,
			o.lasted_deal_time as lastedDealTime,
			o.created_time as createdTime,
			o.updated_time as updatedTime,
			o.is_deleted as isDeleted
		from `order` o
		where o.order_code = #{orderCode}
	</select>

	<sql id="orderCondition">
		<if test="startTime != null">
			<![CDATA[ and unix_timestamp(o.order_time) >= #{startTime} / 1000 ]]>
		</if>
		<if test="endTime != null">
			<![CDATA[ and unix_timestamp(o.order_time) <= #{endTime} / 1000 ]]>
		</if>
		<if test="direction != null">
			and o.trade_type = #{direction}
		</if>
		<if test="baseCurrency != null and baseCurrency != ''">
			and c1.alias = #{baseCurrency}
		</if>
		<if test="targetCurrency != null and targetCurrency != ''">
			and c2.alias = #{targetCurrency}
		</if>
	</sql>
	
	<sql id="orderViewColumn">
		o.order_code as orderCode,
		o.order_time as date,
		c1.alias as baseCurrency,
		c2.alias as targetCurrency,
		if(o.trade_type = 1, 'buy', 'sell') as tradeType,
		o.convert_rate as orderPrice,
		o.quantity as orderTargetQuantity,
		o.deal_quantity as dealTargetQuantity,
		convert(o.convert_rate * o.deal_quantity, decimal(17,8)) as dealBaseAmount,
		o.service_fee as serviceFee,
		status
	</sql>

	<select id="findOrderDetailView" resultType="com.entrusts.module.vo.OrderDetailView">
		select
		<include refid="orderColumns" />,
		c1.alias as baseCurrency,
		c2.alias as targetCurrency,
		o.convert_rate as orderPrice,
		o.quantity as orderTargetQuantity,
		o.deal_quantity as dealTargetQuantity,
		convert(o.convert_rate * o.deal_quantity, decimal(17,8)) as dealBaseAmount
		from `order` o
		left join trade_pair p on o.trade_pair_id = p.id
		left join digital_currency c1 on c1.id = p.base_currency_id
		left join digital_currency c2 on c2.id = p.target_currency_id
		where o.user_code = #{userCode}
		and o.order_code = #{orderCode}
	</select>

	<select id="findHistoryOrderByPage" resultType="com.entrusts.module.vo.HistoryOrderView">
		select
			<include refid="orderViewColumn" />
		from `order` o
		left join trade_pair p on o.trade_pair_id = p.id
		left join digital_currency c1 on c1.id = p.base_currency_id
		left join digital_currency c2 on c2.id = p.target_currency_id 
		where user_code = #{userCode}
		and status in (11, 30, 40, 50)
		<include refid="orderCondition" />
		order by o.order_time desc
	</select>
	
	<select id="findHistoryOrderByTime" resultType="com.entrusts.module.vo.HistoryOrderView">
		select
			<include refid="orderViewColumn" />
		from `order` o
		left join trade_pair p on o.trade_pair_id = p.id
		left join digital_currency c1 on c1.id = p.base_currency_id
		left join digital_currency c2 on c2.id = p.target_currency_id 
		where o.user_code = #{orderQuery.userCode}
		and o.status in (11, 30, 40, 50)
		<if test="orderQuery.toCreatedTime != null">
			<![CDATA[ and unix_timestamp(o.order_time) < #{orderQuery.toCreatedTime} / 1000 ]]>
		</if>
		<if test="orderQuery.startTime != null">
			<![CDATA[ and unix_timestamp(o.order_time) >= #{orderQuery.startTime} / 1000 ]]>
		</if>
		<if test="orderQuery.endTime != null">
			<![CDATA[ and unix_timestamp(o.order_time) <= #{orderQuery.endTime} / 1000 ]]>
		</if>
		<if test="orderQuery.direction != null">
			and o.trade_type = #{orderQuery.direction}
		</if>
		<if test="orderQuery.baseCurrency != null and orderQuery.baseCurrency != ''">
			and c1.alias = #{orderQuery.baseCurrency}
		</if>
		<if test="orderQuery.targetCurrency != null and orderQuery.targetCurrency != ''">
			and c2.alias = #{orderQuery.targetCurrency}
		</if>
		order by o.order_time desc
		limit #{limit}
	</select>
	
	<select id="countHistoryOrderByTime" resultType="long">
		select
			count(o.order_code)
		from `order` o
		left join trade_pair p on o.trade_pair_id = p.id
		left join digital_currency c1 on c1.id = p.base_currency_id
		left join digital_currency c2 on c2.id = p.target_currency_id 
		where user_code = #{userCode}
		and status in (11, 30, 40, 50)
		<if test="toCreatedTime != null">
			<![CDATA[ and unix_timestamp(o.order_time) < #{toCreatedTime} / 1000 ]]>
		</if>
		<include refid="orderCondition" />
	</select>
	
	<select id="findLimitHistoryOrder" resultType="com.entrusts.module.vo.HistoryOrderView">
		select
			<include refid="orderViewColumn" />
		from `order` o
		left join trade_pair p on o.trade_pair_id = p.id
		left join digital_currency c1 on c1.id = p.base_currency_id
		left join digital_currency c2 on c2.id = p.target_currency_id 
		where user_code = #{userCode}
		and status in (11, 30, 40, 50)
		order by o.order_time desc
		limit #{limit}
	</select>
	
	<select id="totalHistoryOrder">
		select
			count(o.order_code)
		from `order` o
		where user_code = #{userCode}
		and status in (11, 30, 40, 50)
	</select>

	<update id="updateOrderNewDeal">
		update `order` set
		deal_quantity = ifnull(deal_quantity, 0) + #{dealQuantity},
		service_fee = ifnull(service_fee, 0) + #{tradeFee},
		lasted_deal_time = if(unix_timestamp(lasted_deal_time) * 1000 > #{createdTime}, lasted_deal_time, from_unixtime(#{createdTime} / 1000))
		where order_code = #{orderCode}
	</update>

	<update id="completeOrder">
		update `order` set
		status = 30
		where order_code = #{orderCode}
		and status = 20
	</update>

    <select id="queryUnfreezeInfo" parameterType="String" resultType="com.entrusts.module.entity.Order">
        SELECT
        <include refid="orderColumns"/>
        FROM
        `order` AS o
        WHERE o.order_code = #{orderCode} AND o.user_code =#{userCode} AND o.`status`=20
    </select>
    <select id="queryAllUnfreezeInfo" resultType="com.entrusts.module.entity.Order">
        SELECT
        <include refid="orderColumns"/>
        FROM
        `order` AS o
        WHERE o.user_code = #{userCode} AND o.`status`=20
    </select>

	<select id="findCurrentOrder" resultType="com.entrusts.module.vo.CurrentEntrusts">
		select
		o.order_code as orderCode,
		o.order_time as date,
		c1.alias as baseCurrency,
		c2.alias as targetCurrency,
		if(o.trade_type = 1, 'buy', 'sell') as tradeType,
		o.convert_rate as orderPrice,
		o.deal_quantity as dealTargetQuantity,
		o.quantity as orderTargetQuantity,
		o.service_fee as serviceFee,
		convert(o.convert_rate * o.deal_quantity, decimal(17,8)) as dealBaseAmount,
		status
		from `order` o
		left join trade_pair p on o.trade_pair_id = p.id
		left join digital_currency c1 on c1.id = p.base_currency_id
		left join digital_currency c2 on c2.id = p.target_currency_id
		where user_code = #{userCode}
		and status in (10, 20)
		AND o.is_deleted ='0'
		order by o.order_time desc
	</select>
	<select id="queryErrorOrderUnfreezeInfo" parameterType="String" resultType="com.entrusts.module.entity.Order">
		SELECT
		<include refid="orderColumns"/>
		FROM
		`order` AS o
		WHERE o.order_code = #{orderCode} AND o.user_code =#{userCode} AND o.`status` IN (20,50)
	</select>
	<select id="queryErrorOrderAllUnfreezeInfo" resultType="com.entrusts.module.entity.Order">
		SELECT
		<include refid="orderColumns"/>
		FROM
		`order` AS o
		WHERE o.user_code = #{userCode} AND o.`status` IN (20,50)
	</select>
</mapper>