<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.entrusts.mapper.OrderEventMapper">
  <resultMap id="BaseResultMap" type="com.entrusts.module.entity.OrderEvent">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_code" jdbcType="BIGINT" property="orderCode" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="deal_amout" jdbcType="DECIMAL" property="dealAmout" />
    <result column="deal_quantity" jdbcType="DECIMAL" property="dealQuantity" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="lasted_deal_time" jdbcType="TIMESTAMP" property="lastedDealTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <insert id="insertOrderEvent" parameterType="com.entrusts.module.entity.OrderEvent">
    insert into order_event (id, order_code, status, 
      deal_amout, deal_quantity, created_time, 
      lasted_deal_time, remark)
    values (#{id,jdbcType=BIGINT}, #{orderCode,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, 
      #{dealAmout,jdbcType=DECIMAL}, #{dealQuantity,jdbcType=DECIMAL}, now(),
      #{lastedDealTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>

  <insert id="batchInsert">
    insert into order_event (id, order_code, status,
    deal_amout, deal_quantity, created_time,
    lasted_deal_time, remark)
    values
    <foreach collection="orderEvents" item="item" index="index" separator=",">
    (#{id,jdbcType=BIGINT}, #{orderCode,jdbcType=BIGINT}, #{status,jdbcType=TINYINT},
    #{dealAmout,jdbcType=DECIMAL}, #{dealQuantity,jdbcType=DECIMAL}, now(),
    #{lastedDealTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>